.contact__section{
    margin-top: 20px;
    background-color: rgb(218, 221, 220);
    width: 30vmin;
    padding: 10px 10px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
}
.section__project{
    margin-top: 0px;
    background-color: rgb(218, 221, 220);
    width: 30vmin;
    padding: 10px 10px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
}