.contact__section{
    margin-top: 20px;
    background-color: rgb(218, 221, 220);
    width: 30vmin;
    padding: 10px 10px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
}
.section__project{
    margin-top: 0px;
    background-color: rgb(218, 221, 220);
    width: 30vmin;
    padding: 10px 10px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
}
/* ####### cv ###### */
.cv{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: .50fr 1fr .25fr .25fr;
}
.cv img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    grid-column: 3 / 5;
    grid-row: 2;
}
.cv h2{
    text-align: center;
    grid-column: 2 / 6;
    grid-row: 3;
}
.cv p{
    text-align: center;
    grid-column: 2 / 6;
    grid-row: 4;
}
.cv_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.cv_menu_active{
    text-decoration: none;
    font-size: 1.1rem;
    color: rgb(24, 24, 67);
    border-bottom: solid 1px red;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.cv_menu_inactive{
    text-decoration: none;
    font-size: 1.1rem;
    color: rgb(24, 24, 67);
}
/* ####### contact ###### */
.cv_contact article p{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(159, 165, 163,0.5);
    padding: 15px;
    color: black;
    font-weight: bold;
}
/* ####### skills ###### */
.cv_contact article p, .cv_contact article h4 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(159, 165, 163,0.5);
    padding: 15px;
    color: black;
    font-weight: bold;
}

