/* color code font: #ffffff */
/* color code font: #24ffdd */


body{
    background-image: url(./assets/bg.jpg );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
}
.cv_main article{
    display: grid;
    grid-template-columns: repeat(6, 1fr );
    grid-template-rows: 10px .50fr .30fr .25fr .50fr;
    justify-content: center;
    align-items: center;
}
.cv_main article img{
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 3px #24ffdd;
    margin: 0px auto;
}
.cv_main article h2{
    grid-column: 1 / -1;
    grid-row: 3;
    text-align: center;
    color: #24ffdd;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}
.cv_main article h6{
    grid-column: 1 / -1;
    grid-row: 4;
    text-align: center;
    margin: 0px auto;
    color: #24ffdd;
}
.cv_main article p{
    grid-column: 1 / -1;
    grid-row: 5;
    text-align: center;
    margin: 0px auto;
    color: #ffffff;
}

.cv_tools{
    display: grid;
    grid-template-columns: .25fr 2fr .25fr;
}
.cv_tools article{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    gap: 1rem;
}
.cv_inactive{
    color: #24ffdd;
    text-decoration: none;
}
.cv__active{
    background-color: #24ffdd;
    color:#000000;
    text-decoration: none;
    border-radius: 30px;
    padding: 3px 20px;
}

/* ########## language ########## */
/* ########## framework ########## */
/* ########## tools ########## */
.cv_tools{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: .50fr .50fr;
}
.cv_tools article {
    grid-column: 1 / -1;
}
.cv_tools h3{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;
    text-align: center;
    color: #24ffdd;
}
.cv_languege article{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.cv_languege ul{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;
    background-color: #24ffdd;
    color: #000000;
    padding: 10px;
    font-weight: 600;
    gap: 1rem;
    margin: 10px;
    border-radius: 15px;
    list-style-type: none;
}

/* ########## cv projets ########## */
.cv__projets article{
    display: grid;
    grid-template-columns: .25fr 2fr .25fr;
    grid-template-rows: .25fr 2fr .25fr;
    border: solid 1px #24ffdd;
    gap: .25rem;
    margin: 0px auto;
}
.cv__projets h3{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    color: #24ffdd;
}
.cv__projets article h4{
    color: #24ffdd;
    grid-column: 2 / 2;
}
.cv__projets article p{
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    color: #ffffff;
}
.icon{
    width: 20px;
    height: 20px;
    margin-left: 8px;
    color: #24ffdd;
}
article.project1, article.project2{
    padding: 8px;
}

/* ########## cv contact ########## */
.cv__contact{
    display: grid;
    grid-template-columns: .25fr 2fr .25fr;
    grid-template-rows: repeat(4, 50fr);
    justify-self: center;
    align-items: center;
    text-align: center;
}
.cv__contact article h5{
    background-color: #24ffdd;
    border-radius: 10px;
    width: 260px;
    margin: 0px auto;
    padding: 5px;
}
.cv__contact article h6{
    color: #ffffff;
    padding: 5px;
    margin-bottom: 15px;
}
.cv__contact h3{
    grid-column: span 3;
    margin: 0px auto;
    color: #24ffdd;
}
.__email{
    grid-column: 2 / 3;
}
.__phone{
    grid-column: 2 / 3;
}
.__address{
    grid-column: 2 / 3;
}

@media screen and (min-width: 768px){
    .cv_main{
        margin-top: 100px;
    }
    .cv_main article{
        display: grid;
        grid-template-columns: repeat(8 , 1fr);
        grid-template-rows: repeat(8, .25fr);
    }
    .cv_main article img{
        grid-column: 4 / 6;
        grid-row: 1 / -1;
        width: 400px;
        height: 400px;
        margin: 0px auto;
        border-radius: 20px;        
    }
    .cv_main article h2{
        grid-column: 1 / 4;
        grid-row: 4 / 5;
    }
    .cv_main article h6{
        grid-column: 1 / 4;
        grid-row: 5 / 6;
    }
    .cv_main article p{
        grid-column: 6 / -1;
        grid-row: 1 / -1;
        text-align: start;
        margin-left: 20px;
    }
    /* ########## cv tools ##########*/
    .cv_tools{
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr .50fr;
    }
    .cv_tools h3{
        font-size: 40px;
        grid-column: 1 / 3;
        justify-self: flex-start;
    }
    .cv_tools article{
        font-size: 1.5rem;
    }
    /*########## outlet ########## */
    .outlet{
        display: grid;
        max-width: 500px;
        margin: 0px auto;
    }
    /*########## projects ########## */
    .cv__projets{
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: .50fr 1fr;
        gap: 1rem;
        margin-bottom: 100px;
    }
    .cv__projets h3{
        grid-column: 1 / 3;
        font-size: 40px;
        justify-self: flex-start;
    }
    article.project1{
        grid-row: 2 / -1;
        grid-column: span 4;
        padding: 10px;
    }
    article.project2{
        grid-row: 2 / -1;
        grid-column: span 4;
        padding: 10px;
    }
    /*########## cv contact ##########*/
    .cv__contact{
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        margin: 0px auto;
    }
    .cv__contact h3{
        grid-column: span 9;
    }
    .__email{
        grid-column: span 3;
    }
    .__phone{
        grid-column: span 3;
    }
    .__address{
        grid-column: span 3;
    }
    .cv__contact article h5{
        background-color: #24ffdd;
        border-radius: 10px;
        width: 260px;
        margin: 0px auto;
        padding: 10px;
        text-align: center;
    }
    .cv__contact article h6{
        padding: 5px;
        margin-top: 10px;
        font-size: 1.2rem;
    }

}