div.cv_upper{
  background: radial-gradient(circle, #0b00e1 10%, transparent 11%),radial-gradient(circle at bottom left, #0b00e1 5%, transparent 6%),radial-gradient(circle at bottom right, #0b00e1 5%, transparent 6%),radial-gradient(circle at top left, #0b00e1 5%, transparent 6%),radial-gradient(circle at top right, #0b00e1 5%, transparent 6%);
  background-size: 3em 3em;
  background-color: #161111;
  /* background-attachment: fixed; */
  opacity: 1;
  width: 100%;
  height: 100vh;
}
div.cv_fullName{
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: #fff;
}
div.cv_hero{
    margin: 0px auto;
}
div.cv_hero h2{
  font-size: 90px;
  margin-top: 120px;
  color: #fff;

}
div.cv_hero p{
  font-size: 40px;
  color: #fff;
}
/*################ cv_content ################ */
div.cv_content{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
div.cv_content img{
  width: 350px;
  height: 350px;
  grid-row: 1 / -1;
  margin: 0px auto;
}
div.cv_content p{
  grid-column: 2 / -1;
  grid-row: 2;
  margin: 0px auto;
  padding: 20px;
}
div.cv_content ul{
  grid-column: 2 / -1;
  grid-row: 1;
  list-style-type: none;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
div.cv_content li{
  margin-top: 2rem;
  display: flex;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  border-radius: 8px;
  color: #fff;
}
/*################ cv_projectList ################ */
div.skills_header{
  margin-top: 160px;
  margin-bottom: 100px;
}
div.skills_header h5{
  font-size: 100px;
  text-rendering: auto;
  background-color: orangered;
  height: 70px;
  width: 160px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cv_projectList{
  margin-bottom: 100px;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, .50fr);
}
.cv_projectList img{
  width: 450px;
  height: 450px;
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  margin: 0px auto;
}
.cv_projectList ul{
  grid-column: 1 / 2;
  grid-row: 1;
  list-style-type: none;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.cv_projectList li{
  margin-top: 2rem;
  display: flex;
  background-color: rgba(0, 0, 0, 0.27);
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  border-radius: 8px;
  color: #000000;
}
.cv_projectList p{
  margin: 0px auto;
  padding: 20px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-top: 20px;
}
div.cv_projectList h3{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-left: 20px;
  border-bottom: solid 1px red;
}
div.btn_link{
  grid-column: 1 / 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(2, .25fr);
  gap: 2rem;
  padding: 15px;
}
div.btn_link a{
  color: orangered;
  font-weight: 700;
  padding: 12px;
  border: none;
  box-shadow: 5px 7px 3px orangered;
  text-decoration: none;
  text-align: center;
  border: solid 1px orangered;
}
div.btn_link a:hover{
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: orangered;
  color: #fff;
  box-shadow: none;
}
/*############ cv_contactus ################ */
div.cv_contactus{
  margin-top: 150px;
}
div.cv_contactus h4{
  display: flex;
  justify-content: center;
  font-size: 100px;
}
div.links{
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 180px;
  margin-top: 80px;
}
div.links a{
  background-color: orangered;
  padding: 20px;
  text-decoration: none;
  border: solid 1px orangered;
  color: #fff;
}
div.links a:hover{
  box-shadow: 5px 7px 3px orangered;
  border: solid 1px orangered;
  background-color: #fff;
  color: orangered;
  padding: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
div.cv_contactus span{
  background-color: orangered;
  padding: 0px 10px;
  color: #fff;
}
div.cv_contactus span:hover{
  background-color: transparent;
  color: #000000;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

/* ###### contactUS FORM ############ */
div.contactUS form{
  display: grid;
  justify-content: center;
  /* border: solid 1px red; */
}
div.contactUS p{
  display: flex;
  justify-content: center;
  margin-top: 80px;
  font-weight: 600;
  font-size: 1.5rem;
}
div.contactUS form input:after{
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: solid 1px orangered;
  background-color: #0b00e1;
}
div.contactUS form input{
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: solid 1px orangered;
  width: 450px;
  margin-bottom: 1rem;
  padding: 10px;
  font-size: 1.2rem;
}
div.contactUS form label{
  font-weight: 600;
}
div.contactUS form textarea{
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: solid 1px orangered;
  height: 130px;
  margin-bottom: 1.5rem;
  padding: 10px;
  font-size: 1.2rem;
}
.btn_submit{
  font-weight: 500;
}
.btn_submit:hover{
  background-color: orangered;
  color: #fff;
}

/* openToWork */
div.openToWork{
  position:fixed;
  background-color: rgba(24, 0, 241, 0.95);
  display: grid;
  grid-template-columns: repeat(10, .10fr);
  grid-template-rows: repeat(2, 15px);
  padding: 10px;
  z-index: 1;
}
div.openToWork p{
 color: #fff;
 grid-column: span 3;
 grid-row: 1 / -1 ;
}
div.openToWork a{
  text-decoration: none;
  color: #fff;
}
div.openToWork button:nth-child(3){
  grid-column: 5 / 7;
  grid-row: 1 / -1;
  border: solid 1px orangered;
  background-color: transparent;
  color: #fff;
}
div.openToWork button:nth-child(2){
  grid-column: 10;
  grid-row: 1;
  background-color: transparent;
  color: aliceblue;
  border-radius: 50%;
  font-weight: bold;
  border-style: none;
  font-size: 12px;
  font-family: sans-serif;
}
@media screen and (max-width: 768px) {
  div.cv_upper{
    background-color: #0b00e1;
    height: 45vh;
    background: radial-gradient(circle, #0b00e1 10%, transparent 11%),radial-gradient(circle at bottom left, #0b00e1 5%, transparent 6%),radial-gradient(circle at bottom right, #0b00e1 5%, transparent 6%),radial-gradient(circle at top left, #0b00e1 5%, transparent 6%),radial-gradient(circle at top right, #0b00e1 5%, transparent 6%);
    background-size: 3em 3em;
    background-color: #161111;
    /* background-attachment: fixed; */
    opacity: 1;
  }
  div.cv_fullName {
    font-size: 12px;
  }
  div.cv_hero{
    display: grid;
    grid-template-columns: repeat(3, .50fr);
  }
  div.cv_hero h2{
    grid-column: span 3;
    font-size: 45px;
    text-align: center;
  }
  div.cv_hero p{
    font-size: 20px;
    grid-column: span 3;
    text-align: center;

  }
  /*############ cv_content ########### */
  div.cv_content{
    display: grid;
    grid-template-columns: 10px 2fr 10px;
    grid-template-rows: 1.1fr .50fr 1fr;
  }
  div.cv_content img{
    grid-column: 2;
    width: 250px;
    height: 250px;
  }
  div.cv_content ul{
    display: flex;
    flex-direction: wra;
    gap: 5px;
    grid-column: 2;
    grid-row: 2;
  }
  div.cv_content ul li{
    background-color: orangered;
  }
  div.cv_content p{
    grid-column: 2;
    grid-row: 3;
    text-align: center;
  }
  /*############### skills_header ########## */
  div.skills_header h5{
    font-size: 55px;
  }
  /* ######### cv_projectList ############ */
  div.cv_projectList{
    display: grid;
    grid-template-columns: 10px 2fr 10px;
    grid-template-rows: repeat(4, .50fr);
  }
  div.cv_projectList img{
    grid-column: span 3;
    grid-row: 1;
    width: 250px;
    height: 250px;

  }
  div.cv_projectList ul{
    grid-column: 2;
    grid-row: 2;
  }
  div.cv_projectList p, div.cv_projectList h3{
    grid-column: 2;
    grid-row: 3;
  }
  div.cv_projectList a{
    grid-column: 2;
    grid-row: 4;
  }
  div.btn_link{
    grid-column: 2;
    grid-row: 4;
    display: flex;
    height: 100px;
    align-items: center;
    padding: 0px 15px;
  }
  /* ############ cv_contactus ############### */
  div.cv_contactus{
    display: grid;
    grid-template-columns: 10px 2fr 10px;
    grid-template-rows: .25fr 1fr .15fr;
  }
  div.cv_contactus h4{
    grid-column: span 3;
    grid-row: 1 / 1;
    font-size: 40px;
    text-align: center;

  }
  div.contactUS{
    grid-column: 2;
    grid-row: 2 / 3;
  }
  div.contactUS form input{
    width: 300px;
  }
  div.links{
    grid-column: 2;
    grid-row: 3;
  }
  div.links a{
    font-size: 13px;
    padding: 10px;
  }
}
